<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="refresh" content="15" >
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Assignment 3</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

</head>
<body>
    
        <div class="card text-center">
        <h1>Assignment 3 | Auto Reload Data</h1>

            <div class="card-header">
              Weather Status Today
            </div>
        <div class="row">
            <div class="col">
                    <h5 class="card-title">Water Status</h5>
                    <p class="card-text">{{.Water}} <span>m</span></p>
                 
                    {{ if or (eq .WaterStatus "Aman") (eq .WaterStatus "aman") }}
                    <div class="alert alert-success" role="alert" style="background-color: green;" >
                    <h5 style="color: white;">Aman</h5>
                    </div>
                    {{else if or (eq .WaterStatus "Bahaya") (eq .WaterStatus "bahaya") }}
                    <div class="alert alert-danger" role="alert" style="background-color: Red;">
                        <h5 style="color: white;">Bahaya</h5>
                    </div>
                    {{else if or (eq .WaterStatus "Siaga") (eq .WaterStatus "siaga") }}
                    <div class="alert alert-warning" role="alert" style="background-color: orange;">
                        <h5 style="color: white;">Siaga</h5>
                    </div>
                    {{end}}
       
            </div>
            <div class="col">
                    <h5 class="card-title">Wind Status</h5>
                    <p class="card-text">{{.Wind}} <span>m/s</span></p>
                   
                    {{ if or (eq .WindStatus "Aman") (eq .WindStatus "aman") }}
                    <div class="alert alert-success" role="alert" style="background-color: green;" >
                        <h5 style="color: white;">Aman</h5>
                        </div>
                    {{else if or (eq .WindStatus "Bahaya") (eq .WindStatus "bahaya") }}
                    <div class="alert alert-danger" role="alert" style="background-color: Red;">
                        <h5 style="color: white;">Bahaya</h5>
                    </div>
                    {{else if or (eq .WindStatus "Siaga") (eq .WindStatus "siaga") }}
                    <div class="alert alert-warning" role="alert" style="background-color: orange;">
                        <h5 style="color: white;">Siaga</h5>
                    </div>
                    {{end}}
    
            </div>
          </div>

            <div class="card-footer text-muted">
            {{.Date}}
            </div>
          </div>


    
</body>
</html>